<!DOCTYPE html>

<html lang="en">
<head>
  {% load static %}
  <title>Login Page</title>
  <meta charset = "UTF-8">
  <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
<img src="{% static 'beyondwellness_logo.png'%}"alt="Logo">
  <div class = "login-div">
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <div class = "username">
      <input id="name" type="text" name="username" placeholder="User name">
  </div>

<div class = "password">
  <input id="password" type="password" name="password" placeholder="Password">
</div>
<button value="Login">Login</button>
    </form>
  </div>
</body>
</html>



<!--Username:-->
<!--<br />-->
<!--    <div>class</div>-->
<!--<input type="text" name="username" />-->
<!--<br />-->
<!--Password:-->
<!--<br />-->
<!--<input type="password" name="password" />-->
<!--<br />-->
<!--<br />-->
<!--<input class="btn btn-primary" type="submit" value="Login" />-->
<!--</form>-->

