<!DOCTYPE HTML>

<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style1.css' %}">

</head>
<body>
<img src="{% static 'beyondwellness_logo.png' %}"alt="Logo">
  <div class = "login-div">
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
      <div class = "username">
      <input id="name" type="text" name="username" placeholder="User name">
  </div>

<div class = "password">
  <input id="password" type="password" name="password1" placeholder="Password">
</div>
        <div class = "repassword">
  <input id="repassword" type="password" name="password2" placeholder="Confirm Password">
</div>
<button value="Sign Up!" type="submit">Submit</button>
    </form>
  </div>
</body>
</html>